body{
    height: 100vh;
    width: 100vw;
    background-image:url(img/background.png);
    background-size: cover;
}
.outer{
    position:relative;
    height:150px;
    width: 200px;
}
#goku{
    z-index: 2;
    background-image: url(img/dbz1.png);
    position:absolute;
    top: 700px;
    left: 570px;
    height:150px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#kamehameha{
    z-index: 2;
    position:absolute;
    top: 720px;
    left: 650px;
    height:150px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
#vegeta{
    z-index: 2;
    background-image: url(img/vegeta1.png);
    position:absolute;
    top: 700px;
    left: 950px;
    height:150px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#plane{
    z-index: 2;
    background-image: url(img/plane.png);
    left: -450px;
    position:absolute;
    top: 50px;
    height:300px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
.btn{
    height: 50px;
    width: 100px;
}