body{
    background-image:url(./img/background.png);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
.outer{
    position:relative;
    height:150px;
    width: 200px;
}
#goku{
    z-index: 2;
    background-image: url(./img/dbz1.png);
    position:absolute;
    top: 50vh;
    left: 65vw;
    height:150px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#kamehameha{
    z-index: 2;
    position:absolute;
    top: 50vh;
    left: 68vw;
    height:150px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
#vegeta{
    z-index: 2;
    background-image: url(./img/vegeta1.png);
    position:absolute;
    top: 50vh;
    left: 80vw;
    height:150px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#plane{
    z-index: 2;
    background-image: url(./img/plane.png);
    left: -450px;
    position:absolute;
    top:-5vh;
    height:300px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
.cloud{
    z-index: 2;
    background-image: url(./img/dbz1.png);
    position:absolute;
    top: 55vh;
    left: 65vw;
    background-size: contain;
    background-repeat: no-repeat;

}
.btn{
    height: 50px;
    width: 100px;
}