body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
#tom{
    position:absolute;
    height:100px;
    width: 100px;

    height: 20%;
    width: 20%;
    
}
#jerry{
    height: 20%;
    width: 20%;
    display:none;
    position:absolute;
    height:100px;
    width: 100px;
}
.btn{
    height: 50px;
    width: 100px;
}